.categoryItems{
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: IRANSansMobile!important;
}

.categoryItemsImg{
    width: 50px;
    height: auto;
}