.partyContainer{
    background: linear-gradient(90deg, rgba(250,40,75,1) 0%, rgba(255,0,166,1) 100%);
    border-radius: 8px;
    border-bottom-right-radius: 100px;
    font-family: IRANSansMobile!important;
    width: 100%;
    height: fit-content;
    flex-direction: row-reverse;
}
.partyDetail{
    width: 30%;
}
.partyImg{
    width: 50%;
}
.partyBtn{
    width: 70%;
    border: none;
    padding: .5rem 1rem;
    background-color: #fff;
    border-radius: 50px;
    font-weight: bold;  
}
.iconPink{
    color: var(--sf-accent-main);
    font-size: .8rem; 
    margin-right: .5rem;
}

.sparkles{
   width: 40px;
   height: 40px;
}
.cards{
    width: 100%!important;
    font-family: IRANSansMobile!important;
    height: 90%!important;
}
.cardFoodTitle{
    font-weight: bold!important;
    font-size: 1rem!important;
}
.cardInfo{
    font-size: .7rem;
}
.dealText{
    text-decoration: line-through;
    font-size: .7rem;
    color: var( --sf-carbon-light);
}

@media (max-width:1023px){
    .partyDetail{
        width: 100%;
    }
}